
<%= form_for [@problem, @solution] do |f| %>

    <div class="form-group">
        <%= f.label :problem, 'Nama User', class: 'form-control' %>
        <%= @problem.user.name %><br>
        <%= @problem.deskripsi %>
        <%= f.text_area :solusi, rows: 7, class: 'form-control' %>
    </div>

    <div class='form-group'>
        <%= f.label :categori, 'Helpdesk'%>
        <%= f.collection_select :user_id, User.order(:name), :id, :name, {include_blank: '-- Pilih Helpdesk --'}, {class: 'form-control'} %>
    </div>

    <%= f.submit 'Selesai', class: 'btn btn-primary' %>
<% end %>
ux